<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/GeneralStyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/ChatStyle.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    <body>
        <table>
            <!-- List all text messages -->
            <thead>
                <td><h2>{{ RName }}</h2></td>
                <td style="text-align: right;"><button class="Btn_tight" onclick="RefreshPage()">Refresh</button></td>
            </thead>
            <tr>
                <td colspan="2">
                    <table class='textTable'>
                        {% for text in RTexts %} 
                            <tr>                <!-- is user -->
                                {% if text[0] == currentUser %}
                                    <td colspan="5" style="text-align: right;">
                                        <p class="textbox">{{ text[2] }}</p>
                                    </td>
                                    <td style="text-align: right;">
                                        <p class="userbox">{{ text[1] }}</p>
                                    </td>       <!-- is NOT user -->
                                {% elif text[0] != currentUser %}
                                    <td>
                                        <p class="userbox">{{ text[1] }}</p>
                                    </td>
                                    <td colspan="5">
                                        <p class="textbox">{{ text[2] }}</p>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <!-- Control to send text -->
            <tr>
                <td style="height: 20px;" colspan="2">
                    <form id="sendChat" action="/PostChatText" method="POST" >
                        <input type="hidden" id="tgtRoomId" name="tgtRoomId" value={{RId}}>
                        <input type="text" autocomplete="off" id="chatToSend" name="chatToSend" placeholder="Chat message here..." style="width: 89%;">
                        <input type="submit" id="SendToChat" value="Send" style="width: 10%; ;">
                    </form>
                </td>
            </tr>
        </table>

        <script>
            $("#sendChat").submit(function(e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: location.reload()
                });
            });

            function RefreshPage(){
                location.reload();
            }
        </script>
    </body>
</html>
