<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/GeneralStyle.css') }}">
    </head>
    <body onload="SetUser()">
        <!-- button for manual upload -->
        <input type="button" value="Manual Upload" onclick="upload_manual();"/>
        <!-- Main table- dynamic array of stored documents -->
        <table id="itemTable" ondrop="DragDropUpload(e)" ondragover="return false">
            <tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr><tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr><tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr><tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr>
            <tr>
                <td>Filename</td>
            </tr>
        </table>
    </body>
</html>