<html>
    <head>
        <link rel="stylesheet" href="GeneralStyle.css">
        <script type="text/javascript" src="CentralFunctions.js"></script>
    </head>
    <body>
        <div class="left_column">
            <div class="center_container">
                Calendar Widget
                <br>
                <button>Create New Date</button>
            </div>
        </div>
        <div class="right_column">
            <div class="float_container">
                Important Dates
            </div>
            <div class="float_container">
                Reminders
            </div>
        </div>
    </body>
</html>