.CreateNewChatDialog {
    display: none;
    width: max-content;
    background: #ffffff;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: 3px solid #666666
}
  
.MainScreen {
    display:table;
    width: 100%;
    height: 100%;
    align-self: baseline;
    table-layout:fixed;
}

.chatContent {
    height: 100%;
}

.sideTable{
    width: 100%;
}

.btnFill{
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.ListingForm{
    display: inline;
    float:none;
    padding: 0%;
}

table{
    width: 100%;
}

.textTable{
    height: 90%;
    table-layout:fixed;
}

.Btn_tight{
    display: inline;
    width: auto;
    height: auto;
    padding: 5px;
}

.textbox{
    background-color:thistle;
    color: black;
    border-radius: 4px;
}

.userbox{
    background-color: darkblue;
    color: white;
    border-radius: 4px;
}

.invisibleForm{
    display:none;
}

.slimForm{
    background-color: transparent;
}

.greenbtn{
    background-color: #04AA6D;
    color: white;
    width: auto;
    height: auto;
    padding: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.popupForm{
    background-color: grey;
    display: none;
    position: absolute;
    right: 5px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.popupForm form{
    border-style: solid;
    background-color: ivory;
}


.fullbtn {
    width: 100%;
}

.redbtn{
    width: 100%;
    background-color: indianred;
}

.solidCancel{
    width: 100%;
    background-color: lightcoral;
    color: black;
}